body {
	color: #ddd;
	background-color: #111;
	margin: 0px;
	overflow: hidden;
}

.hidden { display: none; }

#container { width: 100%; }

canvas {
	position: absolute;
	width: calc(100% - 200px);
	height: 100%;
	left: 200px;
}

#sidebar {
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #111;
	padding: 5px;
	font-family: monospace;
	font-size: 14px;
}

#loading {
	position: absolute;
	top: 45%;
	width: 100%;
	color: #c00;
	font-size: 2.8em;
	text-align: center;
	z-index: 1000;
}

.health { color: red; }
.mana { color: magenta; }
.coins { color: gold; }
.gems { color: green; }

#renderer-info {
	position: absolute;
	bottom: 0px;
	left: 80px;
	color: #f08;
	text-align: left;
	font-size: 10px;
	line-height: 12px;
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
}

#stats {
	position: absolute;
	bottom: 0px;
}
