@import url(http://fonts.googleapis.com/css?family=Eagle+Lake);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body {
	font-family: 'Eagle Lake', cursive;
	color: #ddd;
	background-color: #111;
	margin: 0px;
	overflow: hidden;
}

h3 { margin: 0px; }

#title {
	font-size: 80px;
	color: #cdc;
	text-shadow: 0px 0px 25px #7f7;
}

#intro {
	text-align: center;
}

#intro p {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

#notices {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 14px;
}

.hidden { display: none; }
.error { color: red; font-weight: bold; }
.error:before { content: "[!] "; }
.warning:before { color: yellow; font-weight: bold; content: "[!] "; }
.notice:before { color: green; font-weight: bold; content: "[!] "; }

#webgl-error { display: none; }
#gamepad-warning { display: none; }
#gamepad-info { display: none; }

#setup {
	margin: 0 auto;
	text-align: center;
}

#setup td { min-width: 180px; }

select { width: 150px; }

#container { width: 100%; display: none; }

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#loading {
	position: absolute;
	top: 45%;
	width: 100%;
	color: #c00;
	font-size: 2em;
	text-align: center;
	z-index: 1000;
}

.sidebar {
	position: absolute;
	width: 250px;
	height: 100px;
	background-color: rgba(10, 10, 10, 0.55);
	padding: 8px;
	font-family: 'Droid Sans Mono', monospace;
	font-size: 14px;
	z-index: 10;
}

.sidebar table {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 14px;
}

#player-1 { left: 0px; }
#player-2 { right: 0px; display: none; }

.bar {
	padding-left: 10px;
}
.health { color: red; }
.attack { color: orange; }
.defense { color: green; }
.gems { color: purple; }

@-webkit-keyframes fadeout {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes fadeout {
	from { opacity: 1 }
	to { opacity: 0 }
}

.hud-elem {
	font-size: 20px;
	color: red;
	text-align: center;
	text-shadow: 0px 0px 5px #000000;
	opacity: 0;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-name: fadeout;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-name: fadeout;
}

#deathscreen {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(128, 0, 0, 0.5);
	background: -webkit-radial-gradient(ellipse, rgba(128, 0, 0, 0.25), rgba(0, 0, 0, 1));
	background: -moz-radial-gradient(ellipse, rgba(128, 0, 0, 0.25), rgba(0, 0, 0, 1));
	background: -o-radial-gradient(ellipse, rgba(128, 0, 0, 0.25), rgba(0, 0, 0, 1));
	background: radial-gradient(ellipse, rgba(128, 0, 0, 0.25), rgba(0, 0, 0, 1));
	text-align: center;
}

#deathscreen div {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	width:60%;
	height: 64px;
	margin: auto;
	color: #c00;
	font-size: 32px;
	text-shadow: 0px 0px 5px #000;
}

#renderer-info {
	position: absolute;
	bottom: 0px;
	left: 80px;
	color: #f08;
	text-align: left;
	font-size: 10px;
	line-height: 12px;
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
}

#stats {
	position: absolute;
	bottom: 0px;
}
